body{
	background-color: #f0f0f0;
	display: flex;
	font-family: Arial, sans-serif;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

div{
	display: flex;
	flex-direction: row;

}
img{
	height: 80px;
	width: 80px;
}
p{
	font-size: 1.5rem;
	background-color: red;
	color: white;
	display: flex;
}